DB_USERNAME=doadmin
DB_PASSWORD=
DB_HOST=db-pgsql-nyc3-52651-do-user-33622363-0.h.db.ondigitalocean.com
DB_PORT=25060
DB_NAME=defaultdb
DB_SSLMODE=require

REDIS_URL=redis://localhost:6379/0
APP_HOST=0.0.0.0
APP_PORT=8000
CACHE_TTL_SECONDS=30
JWT_SECRET=
